<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dronebox</title>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Style -->
    <link href="src/css/custom-boostrap.css" rel="stylesheet">

</head>


<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand-img js-scroll-trigger" href="index.html">
                <img src="src/assets/images/logo-white.png" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="">{{$t("nav_menu_doc")}}</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="index.html">{{$t("nav_menu_exam")}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#index.html">{{$t("nav_menu_price")}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#page-top">{{$t("nav_menu_about")}}</a>
                    </li>
                </ul>
                <a class="btn navbar-btn js-scroll-trigger" href="login.html">{{$t("nav_btn_login")}}</a>

                <ul class="nav nav-pills">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <img class="mr-2" :src="currentLang.img" alt="" style="width: 16px; height: 16px;">
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" @click="selectLang('th')">TH</a>
                            <a class="dropdown-item" @click="selectLang('en')">EN</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="about-app">
        <header class="about-header bg-header">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{{ $t('page_about.header_title') }}</h2>
                        <p>{{ $t('page_about.header_desc') }}</p>
                    </div>
                </div>
            </div>
        </header>

        <section class="about-content">
            <div class="container">
                <div class="row heading">
                    <div id="first" class="col-lg-6 col-md-12 col-xs-12">
                        <div class="content-wrapper">
                            <div class="vertical-line"></div>
                            <h2>{{ $t('page_about.content1_title') }}</h2>
                        </div>
                        <div class="content">{{ $t('page_about.content1_desc') }}</div>
                    </div>
                    <div id="second" class="col-lg-6 col-md-12 col-xs-12">
                        <img class="img-fluid" src="src/assets/images/img-about1.png" alt="">
                    </div>
                </div>
        </section>

        <section class="about-content">
            <div class="container">
                <div class="row heading">
                    <div id="second" class="col-lg-6 col-md-12 col-xs-12">
                        <img class="img-fluid" src="src/assets/images/img-about2.png" alt="">
                    </div>
                    <div id="first" class="col-lg-6 col-md-12 col-xs-12">
                        <div class="content-wrapper">
                            <h6>{{ $t('page_about.header_title') }}</h6>
                            <div class="vertical-line"></div>
                            <h2>{{ $t('page_about.content2_title') }}</h2>
                        </div>
                        <div class="content"v-html="$t('page_about.content2_desc')"></div>
                    </div>
                </div>
        </section>

        <section class="partner">
            <div class="container">
                <div class="partner-header text-center">
                    <h3>{{ $t('page_about.partner_header') }}</h3>
                </div>
                <div class="d-flex flex-sm-row flex-column justify-content-center text-center">
                    <!-- partner item -->
                    <div class="partner-item" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="src/assets/images/logo-nsp.png" alt="">
                        </div>
                        <div class="partner-content">
                            <h5>{{ $t('page_about.partner1_title') }}</h5>
                            <p>{{ $t('page_about.partner1_desc') }}</p>
                            <div class="mt-3">
                                <a href="http://www.nsp.or.th/index.php" class="btn btn-outline mt-3">{{
                                    $t('page_about.readme') }}</a>
                            </div>
                        </div>
                    </div>
                    <!-- partner item -->
                    <div class="partner-item" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src="src/assets/images/logo_mapedia.png" alt="">
                        </div>
                        <div class="partner-content">
                            <h5>{{ $t('page_about.partner2_title') }}</h5>
                            <p>{{ $t('page_about.partner2_desc') }}</p>
                        </div>
                        <div class="mt-3">
                            <a href="https://www.mapedia.co.th/" class="btn btn-outline mt-3">{{ $t('page_about.readme')
                                }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container text-md-left text-xs-left">
                <div class="row">
                    <div class="footer-area col-lg-4 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="mb-3"><img src="src/assets/images/logo-white.png"></div>
                        {{ $t('page_main.header_title') }}
                        <div class="social-icon mt-3">
                            <a class="facebook">
                                <i class="fab fa-facebook-f white-text mr-md-5 fa-2x"> </i>
                            </a>
                            <a class="instagram">
                                <i class="fab fa-instagram white-text mr-md-5 fa-2x"> </i>
                            </a>
                            <a class="medium">
                                <i class="fab fa-medium white-text mr-md-5 fa-2x"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="footer-area col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <h5 class="mb-3">{{ $t('footer_title_link') }}</h5>
                        <div class="quick-link">
                            <div class="mb-3"><a href="index.html">{{ $t('footer_menu_home') }}</a></div>
                            <div class="mb-3"><a href="index.html">{{ $t('nav_menu_exam') }}</a></div>
                            <div class="mb-3"><a href="#prices">{{ $t('nav_menu_price') }}</a></div>
                            <div class="mb-3"><a href="#page-top">{{ $t('nav_menu_about') }}</a></div>
                        </div>
                    </div>
                    <div class="footer-area col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="map">
                            <iframe frameborder="0" height="220"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1910.3560425273229!2d100.19132409092454!3d16.74121159882652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30dfbf90bb38d3e1%3A0xb965f2514b3ac6d2!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5geC4oeC4nuC4nuC4tOC5gOC4lOC4teC4oiDguIjguLPguIHguLHguJQ!5e0!3m2!1sen!2sth!4v1582077454850!5m2!1sen!2sth"
                                style="border:0;" width="100%"></iframe>
                        </div>
                    </div>
                    <div class="footer-area col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <h5 class="mb-3">{{ $t('footer_title_contact') }}</h5>
                        <table>
                            <tr>
                                <td class="icon-col"><i class="fas fa-phone"></i></td>
                                <td class="info-contact">093-036-3366</td>
                            </tr>
                            <tr>
                                <td class="icon-col"><i class="fas fa-envelope"></i></td>
                                <td class="info-contact">mapedia.com@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="icon-col"><i class="fas fa-map-marker"></i></td>
                                <td class="info-contact">{{ $t('footer_company') }}</td>
                            </tr>
                            <tr>
                                <td class="icon-col"></td>
                                <td class="info-contact">{{ $t('footer_address') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="footer-copyright text-center py-3">© 2020 Copyright by
                <a href="https://www.mapedia.co.th/"> Mapedia</a>
            </div>

        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-i18n@8"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts -->
    <script src="src/js/lang.js"></script>
    <script src="src/js/template.js"></script>
    <script src="src/js/about.js"></script>

</body>

</html>