<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dronebox</title>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Style -->
    <link href="src/css/custom-boostrap.css" rel="stylesheet">
    <link href="src/css/dashboard.css" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

</head>


<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"
        style="background-image: linear-gradient(123deg, rgba(0,150,136,0.85) -26%, #103475 99%);">
        <div class="container">
            <a class="navbar-brand-img js-scroll-trigger" href="index.html">
                <img src="src/assets/images/logo-white.png" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="">{{$t("nav_menu_doc")}}</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#examples">{{$t("nav_menu_exam")}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#prices">{{$t("nav_menu_price")}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="about.html">{{$t("nav_menu_about")}}</a>
                    </li>
                </ul>
                <a class="btn navbar-btn js-scroll-trigger" href="login.html">{{$t("nav_btn_login")}}</a>

                <ul class="nav nav-pills">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <img class="mr-2" :src="currentLang.img" alt="" style="width: 16px; height: 16px;">
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" @click="selectLang('th')">TH</a>
                            <a class="dropdown-item" @click="selectLang('en')">EN</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="app">
        <div class="container ">
            <div class="welcome ">
                <div class="row bg-welcome">
                    <div id="first" class="col-lg-4 col-md-6">
                        <img src="/src/assets/images/img-welcome.png" class="img-fluid" alt="">
                        <div class="button-exam">
                            <a href="http://dronebox.io/public/task/f989cbe1-86b3-46c5-8165-c000dd08a721/map/"
                            target="_blank" class="btn-s btn-round-outline">Explore Example</a>
                        </div>
                    </div>
                    <div id="second" class="col-lg-8 col-md-6">
                        <h3>
                            Getting started with Dronebox
                        </h3>
                        <div class="howto-link">
                            <a href="http://www.youtube.com"
                            target="_blank">
                            <i class="fas fa-video mr-2"></i>
                                <!-- <span class="material-icons mr-3">ondemand_video</span> -->
                                <span>Go watch to video for getting started.</span> 
                            </a>
                        </div>
                        <span>
                            To create a map, press the "Select Images and GCP" button, or drag and drop some images into
                            a
                            project.
                        </span>
                        <ul>
                            <li>You need at least 5 images</li>
                            <li>Images must overlap by 65% or more</li>
                            <li>For great 3D, images must overlap by 83%</li>
                            <li>A GCP file is optional, but can increase georeferencing accuracy</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="dashboard ">
                <div class="d-flex bd-highlight mb-3">
                    <div class="p-2 bd-highlight">
                        <h3>All</h3>
                    </div>
                    <div class="ml-auto p-2 bd-highlight">
                        <a class="btn btn-round-outline">Add Project</a>
                    </div>
                </div>
            </div>
            <div class="row dashboard-default">
                <div class="col-lg-12 text-center">
                <img src="/src/assets/images/img-no-project.svg">
                <p class="noProject">No project</p>
                <p>Add project for getting started</p>
            </div>
            </div>
        </div>
        <footer>
            <div class="container text-md-left text-xs-left">
                <div class="row">
                    <div class="footer-area col-lg-4 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="mb-3"><img src="src/assets/images/logo-white.png"></div>
                        {{ $t('page_main.header_title') }}
                        <div class="social-icon mt-3">
                            <a class="facebook">
                                <i class="fab fa-facebook-f white-text mr-md-5 fa-2x"> </i>
                            </a>
                            <a class="instagram">
                                <i class="fab fa-instagram white-text mr-md-5 fa-2x"> </i>
                            </a>
                            <a class="medium">
                                <i class="fab fa-medium white-text mr-md-5 fa-2x"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="footer-area col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <h5 class="mb-3">{{ $t('footer_title_link') }}</h5>
                        <div class="quick-link">
                            <div class="mb-3"><a href="#page-top">{{ $t('footer_menu_home') }}</a></div>
                            <div class="mb-3"><a href="#examples">{{ $t('nav_menu_exam') }}</a></div>
                            <div class="mb-3"><a href="#prices">{{ $t('nav_menu_price') }}</a></div>
                            <div class="mb-3"><a href="about.html">{{ $t('nav_menu_about') }}</a></div>
                        </div>
                    </div>
                    <div class="footer-area col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="map">
                            <iframe frameborder="0" height="220"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1910.3560425273229!2d100.19132409092454!3d16.74121159882652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30dfbf90bb38d3e1%3A0xb965f2514b3ac6d2!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5geC4oeC4nuC4nuC4tOC5gOC4lOC4teC4oiDguIjguLPguIHguLHguJQ!5e0!3m2!1sen!2sth!4v1582077454850!5m2!1sen!2sth"
                                style="border:0;" width="100%"></iframe>
                        </div>
                    </div>
                    <div class="footer-area col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <h5 class="mb-3">{{ $t('footer_title_contact') }}</h5>
                        <table>
                            <tr>
                                <td class="icon-col"><i class="fas fa-phone"></i></td>
                                <td class="info-contact">093-036-3366</td>
                            </tr>
                            <tr>
                                <td class="icon-col"><i class="fas fa-envelope"></i></td>
                                <td class="info-contact">mapedia.com@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="icon-col"><i class="fas fa-map-marker"></i></td>
                                <td class="info-contact">{{ $t('footer_company') }}</td>
                            </tr>
                            <tr>
                                <td class="icon-col"></td>
                                <td class="info-contact">{{ $t('footer_address') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="footer-copyright text-center py-3">© 2020 Copyright by
                <a href="https://www.mapedia.co.th/"> Mapedia</a>
            </div>

        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-i18n@8"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts -->
    <script src="src/js/lang.js"></script>
    <script src="src/js/template.js"></script>
    <script src="src/js/main.js"></script>

</body>

</html>