<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dronebox</title>

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Style -->
    <link href="src/css/custom-boostrap.css" rel="stylesheet">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@0.3.0/dist/lottie-player.js"></script>

</head>


<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand-img js-scroll-trigger" href="#page-top">
                <img src="src/assets/images/logo-white.png" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="">{{$t("nav_menu_doc")}}</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#examples">{{$t("nav_menu_exam")}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#prices">{{$t("nav_menu_price")}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="about.html">{{$t("nav_menu_about")}}</a>
                    </li>
                </ul>
                <a class="btn navbar-btn js-scroll-trigger" href="login.html">{{$t("nav_btn_login")}}</a>

                <ul class="nav nav-pills">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <img class="mr-2" :src="currentLang.img" alt="" style="width: 16px; height: 16px;">
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" @click="selectLang('th')">TH</a>
                            <a class="dropdown-item" @click="selectLang('en')">EN</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="app">
        <header class="masthead bg-header">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 my-auto">
                        <div class="header-content mx-auto">
                            <h1 class="mb-5">{{ $t('page_main.header_title') }}</h1>
                            <h4 class="mb-5">{{ $t('page_main.header_desc') }}</h4>
                            <a href="dashboard.html" class="btn btn-fill btn-xl mb-3 mr-3 js-scroll-trigger">{{
                                $t('page_main.tryIt_btn') }}</a>
                            <!-- <a href="signup.html" class="btn btn-outline btn-xl mb-3 mr-3 js-scroll-trigger">Create
                                account</a> -->
                        </div>
                    </div>
                    <div class="col-lg-7" style="display: flex; justify-content: center;">
                        <img src="src/assets/images/img-header.png" class="img-fluid header-img-mobile" alt="">
                    </div>
                </div>
            </div>
            <img src="src/assets/images/img-header.png" class="img-fluid header-img" alt="">

        </header>

        <section class="stepWorks" id="stepwork">
            <div class="container">
                <div class="step-heading">
                    <div class="vertical-line"></div>
                    <h2>{{ $t('page_main.howIt_header') }}</h2>
                </div>
                <div class="row m-2">
                    <div class="row justify-content-center">
                        <div :key='"step-"+idx' class="col-lg-4 col-md-12 mb-4" v-for="(step, idx) in steps">
                            <div class="step-card h-100">
                                <div class="step-card-horizontal">
                                    <div class="step-card-img d-flex align-items-center justify-content-center">
                                        <img class="img-fluid" :src="step.img" alt="">
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <h4>{{ step.title }}</h4>
                                        <p>{{ step.desc }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="features" id="features">
            <div class="container">
                <div class="section-heading">
                    <div class="vertical-line"></div>
                    <h2>{{ $t('page_main.feature_header') }}</h2>
                </div>
                <div class="row">

                    <div :key='"feature-" + idx' class="col-lg-4 col-md-6 mb-5" v-for="(feature, idx) in features">
                        <div class="feature w-100 d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img class="img-fluid" :src="feature.img" alt="">
                            </div>
                            <div class="text pl-4">
                                <h4>{{ feature.title }}</h4>
                                <span>{{ feature.desc }}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="examples-new text-center" id="examples">
            <!-- <div class="overlay"></div> -->
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h2>{{ $t('page_main.exam_header') }}</h2>
                        <p>{{ $t('page_main.exam_desc') }}</p>
                        <a href="http://dronebox.io/public/task/f989cbe1-86b3-46c5-8165-c000dd08a721/map/"
                            target="_blank" class="btn btn-download mt-3">{{ $t('page_main.exam_btn') }}</a>
                    </div>
                </div>
                <img class="img-fluid" src="src/assets/images/img-example.png" alt="">
            </div>
        </section>

        <section class="pricing" id="prices">
            <div class="container">
                <div class="price-header text-center mb-4">
                    <h3>{{ $t('page_main.price_header') }}</h3>
                </div>
                <div class="row justify-content-center">
                    <div :key='"price-"+idx' class="col-lg-5 col-md-6 mb-4" v-for="(price, idx) in prices">
                        <div class="pricing-card card h-100">
                            <div class="card-body d-flex flex-column">
                                <h4 class="card-title">{{ price.title }}</h4>
                                <h3 class="price-value">{{ price.value }}</h3>
                                <div class="title-line"></div>
                                <p class="price-desc" v-html="price.desc"></p>
                                <a :href="price.link" target="_blank" class="mt-auto btn btn-download">{{
                                    price.btn}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container text-md-left text-xs-left">
                <div class="row">
                    <div class="footer-area col-lg-4 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="mb-3"><img src="src/assets/images/logo-white.png"></div>
                        {{ $t('page_main.header_title') }}
                        <div class="social-icon mt-3">
                            <a class="facebook">
                                <i class="fab fa-facebook-f white-text mr-md-5 fa-2x"> </i>
                            </a>
                            <a class="instagram">
                                <i class="fab fa-instagram white-text mr-md-5 fa-2x"> </i>
                            </a>
                            <a class="medium">
                                <i class="fab fa-medium white-text mr-md-5 fa-2x"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="footer-area col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <h5 class="mb-3">{{ $t('footer_title_link') }}</h5>
                        <div class="quick-link">
                            <div class="mb-3"><a href="#page-top">{{ $t('footer_menu_home') }}</a></div>
                            <div class="mb-3"><a href="#examples">{{ $t('nav_menu_exam') }}</a></div>
                            <div class="mb-3"><a href="#prices">{{ $t('nav_menu_price') }}</a></div>
                            <div class="mb-3"><a href="about.html">{{ $t('nav_menu_about') }}</a></div>
                        </div>
                    </div>
                    <div class="footer-area col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <div class="map">
                            <iframe frameborder="0" height="220"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1910.3560425273229!2d100.19132409092454!3d16.74121159882652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30dfbf90bb38d3e1%3A0xb965f2514b3ac6d2!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5geC4oeC4nuC4nuC4tOC5gOC4lOC4teC4oiDguIjguLPguIHguLHguJQ!5e0!3m2!1sen!2sth!4v1582077454850!5m2!1sen!2sth"
                                style="border:0;" width="100%"></iframe>
                        </div>
                    </div>
                    <div class="footer-area col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
                        <h5 class="mb-3">{{ $t('footer_title_contact') }}</h5>
                        <table>
                            <tr>
                                <td class="icon-col"><i class="fas fa-phone"></i></td>
                                <td class="info-contact">093-036-3366</td>
                            </tr>
                            <tr>
                                <td class="icon-col"><i class="fas fa-envelope"></i></td>
                                <td class="info-contact">mapedia.com@gmail.com</td>
                            </tr>
                            <tr>
                                <td class="icon-col"><i class="fas fa-map-marker"></i></td>
                                <td class="info-contact">{{ $t('footer_company') }}</td>
                            </tr>
                            <tr>
                                <td class="icon-col"></td>
                                <td class="info-contact">{{ $t('footer_address') }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="footer-copyright text-center py-3">© 2020 Copyright by
                <a href="https://www.mapedia.co.th/"> Mapedia</a>
            </div>

        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-i18n@8"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts -->
    <script src="src/js/lang.js"></script>
    <script src="src/js/template.js"></script>
    <script src="src/js/main.js"></script>

</body>

</html>