
.welcome {
  margin-top: 100px;
  margin-bottom: 1rem;
}
.welcome h3 {
  color: #00786d;
  margin-bottom: 1rem;
  font-size: 36px;
  font-weight: 400;
}
.bg-welcome {
  background-color: #f0f6f7;
  border-radius: 16px;
  padding: 30px;
}
.howto-link{
  padding-bottom: 8px;
}
.howto-link a:focus,
a:hover {
  color: #78b0ff;
  text-decoration: none;
}
.button-exam{
  display: flex;
  justify-content: center;
}
.dashboard-default img{
  max-width: 200px;
  font-size: 14px;
}
.noProject{
  color: #D1D3D4;
  margin-top: 8px;
  margin-bottom: -2px;
}
@media (max-width: 767.98px) {
  #first {
    order: 2;
  }
  #second {
    order: 1;
  }
  .welcome img {
    display: none;
  }
  .button-exam{
    display: flex;
    justify-content: left;
  }
}
